/* Corpo */
* {
  font-family: "Courier New", Courier, monospace;
}
body {
  margin: 10px;
  padding: 10px;
  border: solid 3px black;
  text-align: center;
}
/* Textos */
h1 {
  font-size: 40px;
  text-shadow: 1px 1px 1px;
}
h2 {
  font-size: 30px;
}
span {
  color: darkred;
  font-size: 30px;
  text-decoration: underline;
  transition: all 0.5s;
}
/* Input num1 e num2 */
input {
  text-align: center;
  font-size: 25px;
  width: 320px;
  /* width: auto; */
  height: 40px;
  font-weight: bold;
  border: solid 2px black;
}
/* Botões */
input.botao {
  width: auto;
  cursor: pointer;
  margin: 10px 2px;
  padding: 5px;
  transition: all 0.4s;
  font-weight: bolder;
}
input.botao:hover {
  opacity: 0.6;
  border-radius: 15px;
}
input#adicao {
  background-color: rgb(0, 200, 0);
}
input#subtracao {
  background-color: rgb(200, 10, 10);
}
input#multiplicacao {
  background-color: rgb(3, 3, 255);
}
input#divisao {
  background-color: rgb(248, 157, 0);
}
